@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: Noto Sans, sans-serif;
    --background-color: #151515;
    --secondary-color: #202020;
    --accent: #FFD580;

    --primary-btn: #373737;
    --primary-btn-hover: #ffffff;
}

body {
    background-color: var(--background-color);
    color: #ffffff;
}